-
	/**
	* 404 template
	*
	* @author   Tinpix Digital
	* @version  1.0.0
	* @package  pinguim
	*/

- get_header();
.container-fluid
	.row
		.col-12
			article
				header
					h1 404
					p Página não encontrada
- get_footer();