-
	/**
	* Index template
	*
	* @author   Tinpix Digital
	* @version  1.0.0
	* @package  pinguim
	*/

- get_header();
.container-fluid
	.row
		.col-12
			- if ( have_posts() ):
				- while ( have_posts() ):
					- the_post();
					article
						header
							h1
								- the_title();
						- the_content();
				- endwhile;
			- endif;
- get_footer();