.single-post {

}

.video-container {
    .embed-container {
        height: 0px;
        position: relative;
        padding-top: 56.25%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        iframe {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
        }
    }
}