.single-post {
    .article-header {
        height: calc(100vh - 140px);
        
        @include media-breakpoint-up(md) {
            margin-bottom: -200px;
        }
    }


}

.article-header {
	background: black;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    @include media-breakpoint-up(md) {
        margin-bottom: -80px;
        height: 650px;
    }

    &.bg-overlay {

        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;

        &::before {
            content: '';
            width: 100%;
            height: 100%;
            display: block;
            position: absolute;
            left: 0px;
            top: 0px;
            background: black;
            opacity: 0.3;
        }

        .custom-page-header {
            width: 100%;
            transform: translateY(-30px);

            .page-title {
                color: white;
                text-shadow: 1px 2px 0 rgba(0,0,0,0.4);

                display: inline-block;
                padding: 0 20px;
                line-height: 2rem;
                position: relative;

                &::before {
                    content: '';
                    background-color: black;
                    display: inline-block;
                    position: absolute;
                    width: 100%;
                    height: calc(100% + 18px);
                    z-index: -1;
                    transform: translate(-20px, -8px) skew(-15deg);
                }
            }
        }

    }
}

.post-thumbnail {
    img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
}

.single-post {
    .article-container {
        header {

            margin-bottom: 2rem;

            .post-categories {
                margin-top: 0px;
            }
        }
        img {
            max-width: 100%;
            height: auto;
        }
    }

    .related-posts {

        .content {

            padding: 0 20px;
            text-align: center;

            a {
                text-decoration: none;
            }

            strong {
                color: white;
                text-transform: uppercase;
                padding: 10px 0;
                line-height: 40px;
            }
            .thumbnail-container {
                max-width: 100%;
                text-align: center;
            }

            img {
                max-width: 70%;
                max-height: 100%;
                height: auto;
                margin: 0 auto;
            }

            h5 {
                color: white;
                text-transform: uppercase;
                padding: 10px 20px 20px;
                font-weight: 500;
            }

        }
    }
}

.video-container,
.gallery-container {
    margin: 0 0 40px;
}

.video-container {
    .embed-container {
        height: 0px;
        position: relative;
        padding-top: 56.25%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        iframe {
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
        }
    }
}

.gallery-container {

    .gallery-item {

        position: relative;
        cursor: pointer;
        transition: transform .2s;
        margin: 20px 0;
        padding: 0 15px;

        .gallery-icon {

            overflow: hidden;
            position: relative;

            img {
                max-width: 100%;
                height: auto;
                border: unset !important;
            }

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                left: 0px;
                top: 0px;
                position: absolute;
                opacity: .4;
                background-color: black;
                transform: translate(-100%, 0%);
                transition: transform .2s;
            }

        }

        .gallery-caption {
            margin-left: 0;
            opacity: 0;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 100%;
            height: 100%;
            padding: 20px 35px;
            display: flex;
            align-items: center;
            transform: translate(-50%, -25%);
            transition: opacity .2s, transform .2s;

            color: white;
            font-weight: 500;
        }

        &:hover {

            transform: scale(1.05);
            z-index: 2;

            .gallery-caption {
                transform: translate(-50%, -50%);
                opacity: 1;
                transition: opacity .2s .1s, transform .2s .1s;
            }

            .gallery-icon {
                &::before {
                    transform: translate(0%, 0%);
                }
            }
        }
    }

}